* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  scroll-behavior: smooth;
}
nav {
  z-index: 27;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;/*kontrowersyjne*/
  background-color: rgba(214, 215, 220, 0.62);
  background-color: #101010c9;
  box-shadow: 3px 1px 19px 1px black;
  font-family: 'Audiowide', cursive;
  
  
}
.toTop {
  position: fixed;
  left: 30px;
  bottom: 60px;
  z-index: 19;
}
.toTop a {
  color: inherit;
  text-decoration: none;
}
.toTop a .fas {
  font-size: xx-large;
  color: #403d3d;
  
}

.logo {
  color: black;
  /*text-shadow: 0px 0px 2px teal;*/
  letter-spacing: 5px;
  font-size: small;
  position: relative;
  display: flex;

}
.logo a {
  color: inherit;
  text-decoration: none;
}
.logo h4 {
  
  font-family: 'Teko',
  sans-serif;
  /*
  font-family: 'Press Start 2P',
  cursive;
  font-family: 'Bungee',  cursive;
  font-family: 'Open Sans Condensed',
sans-serif;
font-family: 'Teko',
sans-serif;
*/

  background-color: white;
  padding: 0.5em 3em;
  position: relative;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  justify-content: center;
  align-content: center;
}
.logo h4 img {
height: 1.5em;
margin-right: 10px;
/*box-shadow: 0px 0px 2px teal;*/
}
.nav-links {
  display: flex;
  justify-content: space-around;
  /*width: 67%; */width: 50%; 
}
.nav-links li {
  list-style: none;
  
}
.nav-links a {
  color: white;
  text-shadow: -2px 1px 4px black;
  letter-spacing: 3px;
  text-decoration: none;
  font-weight: bold;
  font-size: small;
}
/*start custom border*/
.nav-links li a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  
  
}
.nav-links li a span {
  position: absolute;
  display: block;
  background: #fff;
  transition: transform ease-in-out 0.2s;
  -webkit-transition: transform ease-in-out 0.2s;
  -moz-transition: transform ease-in-out 0.2s;
  -ms-transition: transform ease-in-out 0.2s;
  -o-transition: transform ease-in-out 0.2s;
  
}
.nav-links li a span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform-origin: right;
  transition-delay: 0s;
}

.nav-links li a:hover span:nth-child(1){
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform-origin: left;
}
.nav-links li a span:nth-child(3) {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform-origin: left;
  transition-delay: 0.4s;
}

.nav-links li a:hover span:nth-child(3){
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform-origin: right;
}

.nav-links li a span:nth-child(2) {
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
  transform: scaleY(0);
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform-origin: bottom;
  transition-delay: 0.2s;
}

.nav-links li a:hover span:nth-child(2){
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform-origin: top;
}
.nav-links li a span:nth-child(4) {
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  transform: scaleY(0);
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform-origin: top;
  transition-delay: 0.6s;
}

.nav-links li a:hover span:nth-child(4) {
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform-origin: bottom;
}
/*stop custom border*/


.triger {
  display: none;
}
.triger div{
  width: 25px;
  height: 3px;
  background-color:white;
  margin: 5px;
  border-radius: 12%;
  transition: 0.2s all ease;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
  -ms-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
}
/*wcześniej 950px*/
@media screen and (max-width: 1140px) { 
  body {
    overflow-X: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top:8vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    background-color: #101010c9;
    width: 90%;
    border: 2px dashed white;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    -webkit-transition: transform 0.5s ease-in;
    -moz-transition: transform 0.5s ease-in;
    -ms-transition: transform 0.5s ease-in;
    -o-transition: transform 0.5s ease-in;
}
  .nav-links li {
    opacity: 0;
  }
  .triger {
    display: block;
    cursor: pointer;
  } 
  .main-section .fas,.main-section .fab  {
    font-size: 3.2em;
  }
}/*koniec media screen and (max-width: 1140px)*/
/*wcześniej 950px*/



.main-section:nth-of-type(1) {
    /*background-image: url('img/computer-1149148_1920.jpg');  */
    background-image: url('img/broken-business-2237920_1920.jpg');     
}
.main-section:nth-of-type(2) {
    /*background-image: url('img/code-coder-codes-2194062.jpg');*/
    background-image: url('img/workstation-405768_1920.jpg');
}
/*.main-section:nth-of-type(3) {
   
    background-image: url('img/woman-792162_1920.jpg'); 
}*/
.main-section:nth-of-type(3) {
    /*background-image: url('img/macbook-926425_1920.jpg');*/   
    background-image: url('img/calculator-385506_1920.jpg');
}
.main-section:last-of-type {
    /*background-image: url('img/map-2562138_1920.jpg'); */
    background-image: url('img/workplace-1245776_1920.jpg');
}
.main-sectionPODSTR {
  background-image: url('img/workplace-1245776_1920.jpg') !important;
}

.main-section {
position: relative;
background-color: rgba(109, 109, 109, 0.89);
width: 100%;  
height: 99.5vh;
box-shadow: 3px 3px 4px black;
border-bottom: 1px solid black;
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
overflow: hidden;
margin-bottom: 0.5vh;
}
.main-section:nth-of-type(4) {
height: 100vh;
margin-bottom: unset;
}

.main-section::before {
content: '';
position: absolute;
top:0;
left:0;
width:100vw;
height: 100vh;
z-index: 1;
border-bottom: 0.4em solid white;
}
.main-section:nth-of-type(1)::before {
background-color: #3c4644a6;
}
.main-section:nth-of-type(2)::before {
background-color: #080c8462;
}
/*.main-section:nth-of-type(3)::before {
background-color: #ff080028;
}*/
.main-section:nth-of-type(3)::before {
  background-color: #ff080028;
}
/*.main-section:nth-of-type(4)::before {
background-color: #9900ff31;
}*/
.main-section:last-of-type::before {
  background-color: #9900ff31;
}

.main-section .mainDiv {
overflow: hidden;
font-family: 'Audiowide', cursive;
z-index: 3;
color: white;
font-size: 2.2em;
padding: 10px;
border: 4px solid black;
text-shadow: 1px 2px black;
text-align: center;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
-ms-border-radius: 10px;
-o-border-radius: 10px;
position: relative;
}
.main-section .mainDiv a {
text-decoration: none;
color: rgb(0, 140, 255);
/*border-bottom: 7px solid rgb(0, 140, 255);
*/transition: color 0.2s ease, text-shadow 0.2s ease;
-webkit-transition: color 0.2s ease, text-shadow 0.2s ease;
-moz-transition: color 0.2s ease, text-shadow 0.2s ease;
-ms-transition: color 0.2s ease, text-shadow 0.2s ease;
-o-transition: color 0.2s ease, text-shadow 0.2s ease;
}
.main-section .mainDiv a:hover {
color: white;
text-shadow: 2px 2px rgb(0, 140, 255);
cursor: pointer;
}

.main-section .fas,.main-section .fab  {
  z-index:2;
  margin-top: 50px;
  cursor: pointer;
  text-align: center;
  font-size: 3.5em;
  color: white;
  transition: 0.8s color cubic-bezier(0.23, 1, 0.320, 1);
  -webkit-transition: 0.8s color cubic-bezier(0.23, 1, 0.320, 1);
  -moz-transition: 0.8s color cubic-bezier(0.23, 1, 0.320, 1);
  -ms-transition: 0.8s color cubic-bezier(0.23, 1, 0.320, 1);
  -o-transition: 0.8s color cubic-bezier(0.23, 1, 0.320, 1);
}

.main-section .fas span,.main-section .fab span{
text-decoration: none;
color: inherit;
font-family: 'Audiowide', cursive;

}
.main-section:nth-of-type(1) .fas:hover,.main-section:nth-of-type(2) .fas:hover, 
.main-section:nth-of-type(3) .fas:hover, .main-section:nth-of-type(4) .fas:hover{
  color: black;
  
}
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;


}

.grid-container {

  margin-top: 8vh;
  z-index: 3 !important;
  width: 100%;
  height: 92vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "TODO TODO TODO TODO TODO TODO TODO""HOME HOME DODOREX DODOREX DODOREX DODOREX DODOREX""HOME HOME RANDOM RANDOM RANDOM RANDOM RANDOM""HOME HOME KARTYKAT KARTYKAT KARTYKAT KARTYKAT KARTYKAT";
}

.TODO {
  grid-area: TODO;
}

.HOME {
  grid-area: HOME;
}

.DODOREX {
  grid-area: DODOREX;
}

.RANDOM {
  grid-area: RANDOM;
}

.KARTYKAT {
  grid-area: KARTYKAT;
}

.grid-container div {
  border: 6px solid black;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  


}

.grid-container div::after {
  content: '';
  position: absolute;
  width: 101%;
  height: 101%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.grid-container div:nth-child(1) {
  background-image: url('img/modalImg/proj/beaded-2137080_1920.jpg');
  
}

.grid-container div:nth-child(1)::after {
  background-color: hsla(273, 100%, 50%, 0.67);
}

.grid-container div:nth-child(2) {
  background-image: url('img/modalImg/home/laptop-2557586_1920.jpg')
}

.grid-container div:nth-child(2)::after {
  background-color: hsla(7, 97%, 49%, 0.79);
}

.grid-container div:nth-child(3) {
  background-image: url('img/modalImg/price/computer-3368242_1920.jpg');
}

.grid-container div:nth-child(3)::after {
  background-color: hsla(248, 100%, 50%, 0.67);
}

.grid-container div:nth-child(4) {
  background-image: url('img/modalImg/prog/binary-3044663_1920.jpg');
}

.grid-container div:nth-child(4)::after {
  background-color: hsla(127, 100%, 50%, 0.69);
}

.grid-container div:nth-child(5) {
  background-image: url('img/SekcjeRealizacje/rain-3915684_1920.jpg');
}

.grid-container div:nth-child(5)::after {
  background-color: hsla(360, 81%, 0%, 0.67);
}



.grid-container div .GridA {
  position: absolute;
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: #fff;
  text-shadow: 2px 2px 5px black;
  font-size: xx-large;
  font-family: 'Audiowide', cursive;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#arrowContact {
  position: absolute;
  top: 80%;
  width: 100%;
  display: grid;
  /*z-index: 20 !important;
  *//*grid-template-columns: 1fr 1fr 1fr;
  */animation: arrowlike 2.5s infinite linear both;
  -webkit-animation: arrowlike 2.5s infinite  linear both;
  justify-content: center;
  align-items: center;
}
  /*wklejane start*/
  /*
  #home #arrowContact,#prog #arrowContact,#price #arrowContact, #proj #arrowContact {
  
  position: absolute;
  top: 80%;
  width: 100%;
  animation: arrowlike 2s infinite ease;
  z-index: 1;
  display: flex;
  justify-content: center;
  -webkit-animation: arrowlike 2s infinite ease;
  }
  */
  #home #arrowContact a , #prog #arrowContact a , #price #arrowContact a , #proj #arrowContact a  {
    /*background: rgb(255, 255, 255);*/
    padding: 20px 15px;
    z-index: 20 !important;
  }
  #home #arrowContact a .far, #prog #arrowContact a .far, #price #arrowContact a .far, #proj #arrowContact a .far,#contact #arrowContact .far {
    text-align: center;
    text-decoration: none;
    color: white;
    
  }	
  /*wklejane koniec*/
  
  #arrowContact .far {
        font-size: xx-large;
        padding: 0.2em 1.5em;
        text-align:center;
  }
  #contact #arrowContact {
    display: none;
  }

#contactSpan {
z-index: 2;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
}
/*tu jest problem*/
#contactSpan .fas, #contactSpan .fab {
margin: 0.2em;
background-color: #403d3d96;
padding: 0.2em 1em;
border-radius: 0.19em;
transition: 0.24s background-color ease-out;
overflow: hidden;
-webkit-transition: 0.24s background-color ease-out;
-moz-transition: 0.24s background-color ease-out;
-ms-transition: 0.24s background-color ease-out;
-o-transition: 0.24s background-color ease-out;
-webkit-border-radius: 0.19em;
-moz-border-radius: 0.19em;
-ms-border-radius: 0.19em;
-o-border-radius: 0.19em;
}

#contactSpan a {
text-decoration: none;
width: 100%;
height: 100%;
/*kolor test usuń*/
   
}

#contactSpan .fabMES:hover {
  /*background-color: #2f69b6;*/
  background-color: hsla(198, 86%, 57%, 0.96);
  color: white;
}
#contactSpan .fabFB:hover {
  background-color: hsl(221, 44%, 41%,0.96);
  color: white;
}
#contactSpan .fasEM:hover {
  background-color: hsla(129, 94%, 38%, 0.96);
  color: white;
}
#contactSpan .fasTEL:hover {
  background-color: hsla(22, 94%, 57%, 0.96);
  color: white;
}


/*Zostawić transition czy dodać Animation?*/

/*@keyframes backdropAnim {
from {
transform: scale(0);
-webkit-transform: scale(0);
-moz-transform: scale(0);
-ms-transform: scale(0);
-o-transform: scale(0);
opacity: 0;
}
to {
transform: scale(1);
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
opacity: 1;
}
}
@keyframes modalAnim {
from {
transform:translate(-50%,-50%) scale(0);
-webkit-transform:translate(-50%,-50%) scale(0);
-moz-transform:translate(-50%,-50%) scale(0);
-ms-transform:translate(-50%,-50%) scale(0);
-o-transform:translate(-50%,-50%) scale(0);
opacity: 0;
}
to {
transform:translate(-50%,-50%) scale(1);
-webkit-transform:translate(-50%,-50%) scale(1);
-moz-transform:translate(-50%,-50%) scale(1);
-ms-transform:translate(-50%,-50%) scale(1);
-o-transform:translate(-50%,-50%) scale(1);
opacity: 1;
}
}*/

.backdrop { 
  background-color: #000000c4; 
  position: fixed; 
  top: 50%; 
  left: 50%; 
  width: 100%; 
  height: 100%; 
  z-index: 12 !important; 
  /*opacity: 0;*/
  transform: translate(-50%,-50%) scale(0); 
  -webkit-transform: translate(-50%, -50%) scale(0); 
  -moz-transform: translate(-50%, -50%) scale(0); 
  -ms-transform: translate(-50%, -50%) scale(0); 
  -o-transform: translate(-50%, -50%) scale(0); 

  transition: transform 0.9s linear; 
  -webkit-transition: transform 0.9s linear; -moz-transition: transform 0.9s linear; -ms-transition: transform 0.9s linear; 
  -o-transition: transform 0.9s linear;
}    
.modal {
  background-color: #ddd5d5ef;
  position: fixed;
  top: 52%;
  left: 50%;
  width: 90%;
  height: 82%;
  z-index: 22 !important;
  transform:translate(-50%,-50%) scale(0);
  -webkit-transform:translate(-50%,-50%) scale(0);
  -moz-transform:translate(-50%,-50%) scale(0);
  -ms-transform:translate(-50%,-50%) scale(0);
  -o-transform:translate(-50%,-50%) scale(0);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  /*opacity: 0;*/
  transition: transform 0.7s linear;
  -webkit-transition: transform 0.7s linear;
  -moz-transition: transform 0.7s linear;
  -ms-transition: transform 0.7s linear;
  -o-transition: transform 0.7s linear;
}
.show { 
  transform:translate(-50%,-50%) scale(1); -webkit-transform:translate(-50%,-50%) scale(1); -moz-transform:translate(-50%,-50%) scale(1); -ms-transform:translate(-50%,-50%) scale(1); -o-transform:translate(-50%,-50%) scale(1);
}

.modal_container {
   background-color: white;
   width: 100%;
   height: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr;
   border-radius: 12px;
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   -ms-border-radius: 12px;
   -o-border-radius: 12px;
}
.leftImg {
position: relative;
}
.rightContent {
overflow-y: scroll;
}
.rightContent ul {
  margin-right: 2rem;
  list-style: none;

}
.rightContent ul span {
color: rgb(7, 116, 179);
}
/*experyment start*/

.rightContentDivA {
/*
position: absolute;
bottom: 0;
left: 50%;
transform: translate(-50%, -0%);
-webkit-transform: translate(-50%, -0%);
-moz-transform: translate(-50%, -0%);
-ms-transform: translate(-50%, -0%);
-o-transform: translate(-50%, -0%);
*/
background-color: white;
display: block;
text-align: center;
border: 5px solid rgb(0, 140, 255);
border-radius: 50px;
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
-ms-border-radius: 50px;
-o-border-radius: 50px;
padding: 7px;
transition: border 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
-webkit-transition: border 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
-moz-transition: border 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
-ms-transition: border 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
-o-transition: border 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.rightContentDivA .rightContentAlink {
text-decoration: none;
color: inherit;
color: rgb(0, 140, 255);
font-size: large;
padding: 7px;
font-weight: 600;
font-family: 'Audiowide', cursive;
transition: color 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
-webkit-transition: color 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
-moz-transition: color 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
-ms-transition: color 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
-o-transition: color 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
cursor: pointer;
text-align: center;
display: block;
}

.rightContentDivA:hover {
/*
background-color: rgb(0, 140, 255);
*/
/*background-color: hsla(360, 97%, 51%, 0.97);*/
background-color: #96C322;
border: 5px solid white;
border: 5px solid darkslategrey;
}
.rightContentDivA:hover .rightContentAlink {
color: white;
}
/*experyment koniec*/




/*
.rightContent ul .rightContentAlink {
  text-decoration: none;
  color: inherit;
  padding: 5px;

  transition: color 0.3s ease-in, border 0.3s ease-in;
  -webkit-transition: color 0.3s ease-in, border 0.3s ease-in;
  -moz-transition: color 0.3s ease-in, border 0.3s ease-in;
  -ms-transition: color 0.3s ease-in, border 0.3s ease-in;
  -o-transition: color 0.3s ease-in, border 0.3s ease-in;
  border-bottom: 9px solid rgb(0, 140, 255);
}

.rightContent ul .rightContentAlink:hover {
  color: rgb(0, 140, 255);
  border: 2px solid rgb(0, 140, 255);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

*/
.rightContent ul li {
font-size: large;
border-bottom: 3px solid black;
border-top: 3px solid black;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
}
#home .modal .modal_container .leftImg {
background-image: url('img/modalImg/home/laptop-2557586_1920.jpg');
}
#prog .modal .modal_container .leftImg {
background-image: url('img/modalImg/prog/code-944499.jpg');
}
#proj .modal .modal_container .leftImg {
background-image: url('img/modalImg/proj/beaded-2137080_1920.jpg');
}
#price .modal .modal_container .leftImg {
background-image: url('img/modalImg/price/document-3271743_1920.jpg');
}
.modal .modal_container .leftImg {
background-position: center;
background-size: cover;
background-repeat: no-repeat;
border: #403d3d solid 4px;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
-ms-border-radius: 10px;
-o-border-radius: 10px;

margin-right: 2.5em;
}
.modal .modal_container .rightContent {
text-align: center;
font-family: 'Bungee', cursive;
/*font-family: 'Open Sans Condensed',
sans-serif;
font-family: 'Teko',
sans-serif;
*/

font-weight: 600;
letter-spacing: 1px;
padding-top: 15px;


}
.modal .modal_container .rightContent h3{
  font-size: large;
  }
.callModal {
position: absolute;
bottom: 0;
left: 50%;
transform: translate(-50%,-0%);
-webkit-transform: translate(-50%,-0%);
-moz-transform: translate(-50%,-0%);
-ms-transform: translate(-50%,-0%);
-o-transform: translate(-50%,-0%);
background-color: white;
display: block;
text-align: center;
border: 5px solid rgb(0, 140, 255);
border-radius: 50px;
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
-ms-border-radius: 50px;
-o-border-radius: 50px;
padding: 7px;
transition: border 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
-webkit-transition: border 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
-moz-transition: border 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
-ms-transition: border 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
-o-transition: border 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.callModal a {
text-decoration: none;
color: inherit;
color: rgb(0, 140, 255);
font-size: large;
padding: 7px;
font-weight: 600;
font-family: 'Audiowide', cursive;
transition: color 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
-webkit-transition: color 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
-moz-transition: color 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
-ms-transition: color 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
-o-transition: color 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
cursor: pointer;
text-align: center;
display: block;
}

.callModal:hover{
background-color: rgb(0, 140, 255);
border: 5px solid white;
}
.callModal:hover a {
color: white;
}
.closeButton {
position: absolute;
top: 10px;
right: 20px;

padding: 3px;
background-color: rgba(255, 255, 255, 0.657);
border: 2px solid rgba(0, 0, 0, 0.643);
border-radius: 100px;
}
.closeButton div{
  width: 25px;
  height: 3px;
  background-color:white;
  margin: 5px;
  border-radius: 12%;
  transition: 0.4s background-color ease;
  -webkit-transition: 0.4s background-color ease;
  -moz-transition: 0.4s background-color ease;
  -ms-transition: 0.4s background-color ease;
  -o-transition: 0.4s background-color ease;
}
.closeButton .line1 {
transform: rotate(-45deg) translate(-5px,6px);
background-color: red;
-webkit-transform: rotate(-45deg) translate(-5px,6px);
-moz-transform: rotate(-45deg) translate(-5px,6px);
-ms-transform: rotate(-45deg) translate(-5px,6px);
-o-transform: rotate(-45deg) translate(-5px,6px);
}
.closeButton .line2 {
opacity: 0;
}
.closeButton .line3 {
  background-color: red;
transform: rotate(45deg) translate(-5px,-6px);
-webkit-transform: rotate(45deg) translate(-5px,-6px);
-moz-transform: rotate(45deg) translate(-5px,-6px);
-ms-transform: rotate(45deg) translate(-5px,-6px);
-o-transform: rotate(45deg) translate(-5px,-6px);
}
.closeButton:hover *{
background-color: black;
cursor: pointer;
}
/*koniec wklejam modal*/


@media screen and (max-width: 950px) {

  .grid-container {
    grid-template-areas: "TODO TODO TODO TODO TODO TODO TODO""HOME HOME HOME DODOREX DODOREX DODOREX DODOREX""HOME HOME HOME RANDOM RANDOM RANDOM RANDOM""HOME HOME HOME KARTYKAT KARTYKAT KARTYKAT KARTYKAT";
  }

  .grid-container div .GridA {
    overflow: hidden;
    font-size: small;

  }
}





@media only screen and (max-width: 859px) {
  .main-section .fas, .main-section .fab{
    font-size: 1.2em;
    }
    .main-section .mainDiv {
      font-size: 1.4em;
    }
}
@media only screen and (max-width: 476px) and (max-height: 780px) {
.main-section .fas, .main-section .fab{
font-size: 1.2em;
text-align: center;
}
.main-section .fas a, .main-section .fab a {
font-size: 0.8em;
}

.main-section .mainDiv{
      
      font-size: small;
      }
#contactSpan {
    position: fixed;
    bottom: 0;
    background-color: #403d3d;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    z-index: 22;
}
#contactSpan .fas, #contactSpan .fab {
      margin: 0;
      font-size: xx-large;
      background-color: #403d3d96;
      padding: 0.2em 1em;
      border-radius: 0.19em;
      transition: 0.24s background-color ease-out;
      -webkit-border-radius: 0.19em;
      -moz-border-radius: 0.19em;
      -ms-border-radius: 0.19em;
      -o-border-radius: 0.19em;
      -webkit-transition: 0.24s background-color ease-out;
      -moz-transition: 0.24s background-color ease-out;
      -ms-transition: 0.24s background-color ease-out;
      -o-transition: 0.24s background-color ease-out;
}

#contact #arrowContact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#arrowContact {
  position: absolute;
  top: 80%;
  width: 100%;
  display: grid;
  animation: arrowlike 2.5s infinite linear both;
  -webkit-animation: arrowlike 2.5s infinite linear both;
}

#home #arrowContact,#prog #arrowContact,#price #arrowContact, #proj #arrowContact { position: absolute; top: 80%; width: 100%; animation: arrowlike 2.5s infinite linear both; /*display: flex; *//*grid-template-columns: 1fr; */justify-content: center; align-items: center; -webkit-animation: arrowlike 2.5s infinite linear both;
}
#home #arrowContact a .far, #prog #arrowContact a .far, #price #arrowContact a .far, #proj #arrowContact a .far {

text-decoration: none;
}	

#arrowContact .far {
      font-size: xx-large;
      padding: 0.2em 1em;
      text-align:center;
      z-index: 20 !important;
}
.modal_container {
width: 100%;
height: 100%;
overflow-y: scroll;
display: grid;
grid-template-columns: 1fr;
}
.leftImg {
display: none;
}
.leftImg * {
display: none;
}
.rightContent ul {
margin-right: unset;
margin: 0 8px;
}
.rightContent ul li {
font-size: small;
}
.rightContent ul span {
font-size: small;
}
.rightContent ul a {
font-size: small;
}
.rightContent {
margin: 10px 6px;
}
.modal .modal_container .rightContent h3{
  font-size: small;
  margin-top: 15px;
  }
.rightContentDivA .rightContentAlink
  {
    font-size: small;
  }

}
/*koniec @media only screen and (max-width: 476px) and (max-height: 780px)*/    


@media only screen and (max-width: 376px) and (max-height: 668px) {

  .main-section .mainDiv{
        font-size: 1em;
        }
  }/*koniec @media only screen and (max-width: 376px) and (max-height: 668px)*/

/*zła praktyka animowanie top - użyj samego transform translate*/
@keyframes arrowlike {

0% {
  top: 72%;
  }
  50%{
    top:80%;
  }
  100%{
    top:72%;
  }

        }
  /*animacja linków*/
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -ms-transform: translateX(50px);
    -o-transform: translateX(50px);
}
  to {
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
}
}/*koniec animacji linków*/

/*animacja reverse linków*/
@keyframes navLinknotFade {
  from {
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
}
  to {
    opacity: 0;
    transform: translateX(50px);
  }
}/*koniec animacji reverse linków*/

/*klasa toggle nav*/
.nav-active{
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
}
/*animacja triger*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px,6px);
  background-color: red;
  -webkit-transform: rotate(-45deg) translate(-5px,6px);
  -moz-transform: rotate(-45deg) translate(-5px,6px);
  -ms-transform: rotate(-45deg) translate(-5px,6px);
  -o-transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
  opacity: 0;
  
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px,-6px);
  background-color: red;
  -webkit-transform: rotate(45deg) translate(-5px,-6px);
  -moz-transform: rotate(45deg) translate(-5px,-6px);
  -ms-transform: rotate(45deg) translate(-5px,-6px);
  -o-transform: rotate(45deg) translate(-5px,-6px);
}/*koniec animacja triger*/

/*start loader*/
.lds-roller {
  position: fixed;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
z-index: 999999999;
}
.lds-roller::before {
  content: '';
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  width: 100vw;
  height: 100vh;
  background-color: #403d3df5;
  background: linear-gradient(45deg,#403d3d,rgb(5, 88, 88) );
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*stop loader*/
