* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  scroll-behavior: smooth;
}
body {
  overflow-X: hidden;
}
nav {
  z-index: 10;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;/*kontrowersyjne*/
  background-color: rgba(214, 215, 220, 0.62);
  background-color: #101010c9;
  box-shadow: 3px 1px 19px 1px black;
  font-family: 'Audiowide', cursive;
  
  
}
.logo {
  color: black;
  text-shadow: -2px 1px 4px black;
  letter-spacing: 5px;
  font-size: small;
  position: relative;
  display: flex;

}
.logo h4 {
  font-family: 'Press Start 2P', cursive;
  background-color: white;
  padding: 0.5em;
  position: relative;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  justify-content: center;
  align-content: center;
}
.logo h4 img {
height: 1.5em;
margin-right: 10px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 67%; 
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: white;
  text-shadow: -2px 1px 4px black;
  letter-spacing: 3px;
  text-decoration: none;
  font-weight: bold;
  font-size: small;
}
/*start custom border*/
.nav-links li a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  
  
}
.nav-links li a span {
  position: absolute;
  display: block;
  background: #fff;
  transition: transform ease-in-out 0.2s;
  -webkit-transition: transform ease-in-out 0.2s;
  -moz-transition: transform ease-in-out 0.2s;
  -ms-transition: transform ease-in-out 0.2s;
  -o-transition: transform ease-in-out 0.2s;
  
}
.nav-links li a span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform-origin: right;
  transition-delay: 0s;
}

.nav-links li a:hover span:nth-child(1){
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform-origin: left;
}
.nav-links li a span:nth-child(3) {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform-origin: left;
  transition-delay: 0.4s;
}

.nav-links li a:hover span:nth-child(3){
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform-origin: right;
}

.nav-links li a span:nth-child(2) {
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
  transform: scaleY(0);
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform-origin: bottom;
  transition-delay: 0.2s;
}

.nav-links li a:hover span:nth-child(2){
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform-origin: top;
}
.nav-links li a span:nth-child(4) {
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  transform: scaleY(0);
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform-origin: top;
  transition-delay: 0.6s;
}

.nav-links li a:hover span:nth-child(4) {
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform-origin: bottom;
}
/*stop custom border*/


.triger {
  display: none;
}
.triger div{
  width: 25px;
  height: 3px;
  background-color:white;
  margin: 5px;
  border-radius: 12%;
  transition: 0.2s all ease;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
  -ms-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
}

.main-section {
position: relative;
background-color: rgba(109, 109, 109, 0.89);
width: 100%;  
height: 99vh;
box-shadow: 3px 3px 4px black;
border-bottom: 1px solid black;
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
overflow: hidden;
margin-bottom: 1vh;

}
.main-section:nth-of-type(1) {
  /*background-image: url('img/computer-1149148_1920.jpg');  */
  background-image: url('../img/notebook-1971495_1920.jpg');
}

.main-section:nth-of-type(2) {
  /*background-image: url('img/map-2562138_1920.jpg'); */
  background-image: url('../img/workplace-1245776_1920.jpg');
  height: 100vh;
  margin-bottom: unset;
}


.main-section::before {
content: '';
position: absolute;
top:0;
left:0;
width:100vw;
height: 100vh;
z-index: 0; /*troche za wysoko index*/
border-bottom: 0.4em solid white;
}
.main-section:nth-of-type(1)::before {
background-color: #3c4644a6;
}

.main-section:nth-of-type(2)::before {
background-color: #494e56a3;
}
.main-section .mainDiv {
overflow: hidden;
font-family: 'Audiowide', cursive;
z-index: 3;
color: white;
font-size: 2.2em;
padding: 10px;
border: 4px solid black;
text-shadow: 1px 2px black;
text-align: center;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
-ms-border-radius: 10px;
-o-border-radius: 10px;
position: relative;
}
.main-section .mainDiv a {
text-decoration: none;
color: rgb(0, 140, 255);
/*border-bottom: 7px solid rgb(0, 140, 255);
*/transition: color 0.2s ease, text-shadow 0.2s ease;
-webkit-transition: color 0.2s ease, text-shadow 0.2s ease;
-moz-transition: color 0.2s ease, text-shadow 0.2s ease;
-ms-transition: color 0.2s ease, text-shadow 0.2s ease;
-o-transition: color 0.2s ease, text-shadow 0.2s ease;
}
.main-section .mainDiv a:hover {
color: white;
text-shadow: 2px 2px rgb(0, 140, 255);
cursor: pointer;
}

.main-section .fas,.main-section .fab  {
  z-index:2;
  margin-top: 50px;
  cursor: pointer;
  /*font-size: 3em;*/
  font-size: 5em;
  color: white;
  transition: 0.8s color cubic-bezier(0.23, 1, 0.320, 1);
  -webkit-transition: 0.8s color cubic-bezier(0.23, 1, 0.320, 1);
  -moz-transition: 0.8s color cubic-bezier(0.23, 1, 0.320, 1);
  -ms-transition: 0.8s color cubic-bezier(0.23, 1, 0.320, 1);
  -o-transition: 0.8s color cubic-bezier(0.23, 1, 0.320, 1);
}
.main-section .fas span,.main-section .fab span{
text-decoration: none;
color: inherit;
font-family: 'Audiowide', cursive;

}
.main-section:nth-of-type(1) .fas:hover,.main-section:nth-of-type(2) .fas:hover, 
.main-section:nth-of-type(3) .fas:hover, .main-section:nth-of-type(4) .fas:hover{
  color: black;
}
/*
#arrowContact {
display: none;
}*/
#arrowContact {
  position: absolute;
  top: 80%;
  width: 100%;
  display: grid;
  z-index: 99 !important;
  /*grid-template-columns: 1fr 1fr 1fr;*/
  animation: arrowlike 2s infinite ease;
  -webkit-animation: arrowlike 2s infinite ease;
  justify-content: center;
  align-items: center;
}
#home #arrowContact a {
  /*background: rgb(255, 255, 255);*/
  padding: 20px 15px;
}

  /*wklejane start*/
 
  #home #arrowContact a .far {
  text-align: center;
  text-decoration: none;
  color: black;
  }	
  /*wklejane koniec*/
  
  #arrowContact .far {
        font-size: xx-large;
        /*padding: 0.2em 1.5em;*/
        text-align:center;
  }
  #contact #arrowContact {
    display: none;
  }



#contactSpan {
z-index: 22;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}
#contactSpan .fas, #contactSpan .fab {
margin: 0.2em;
background-color: #403d3d96;
padding: 0.2em 1.5em;
border-radius: 0.19em;
transition: 0.24s background-color ease-out;
overflow: hidden;
-webkit-transition: 0.24s background-color ease-out;
-moz-transition: 0.24s background-color ease-out;
-ms-transition: 0.24s background-color ease-out;
-o-transition: 0.24s background-color ease-out;
-webkit-border-radius: 0.19em;
-moz-border-radius: 0.19em;
-ms-border-radius: 0.19em;
-o-border-radius: 0.19em;
}

#contactSpan .fas a, #contactSpan .fab a {
text-decoration: none;
width: 100%;
height: 100%;
/*kolor test usuń*/
background-color: red;    
}

#contactSpan .fas:hover, #contactSpan .fab:hover {
background-color:#000000;
color: white;
}

/*
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;


}
*/
/*layout*/

/*
.grid-container {

  margin-top: 8vh;
  z-index: 3 !important;
  width: 100%;
  height: 92vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "TODO TODO TODO TODO TODO TODO TODO""HOME HOME DODOREX DODOREX DODOREX DODOREX DODOREX""HOME HOME RANDOM RANDOM RANDOM RANDOM RANDOM""HOME HOME KARTYKAT KARTYKAT KARTYKAT KARTYKAT KARTYKAT";
}

.TODO {
  grid-area: TODO;
}

.HOME {
  grid-area: HOME;
}

.DODOREX {
  grid-area: DODOREX;
}

.RANDOM {
  grid-area: RANDOM;
}

.KARTYKAT {
  grid-area: KARTYKAT;
}

.grid-container div {
  border: 6px solid black;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  background-size: cover;
  background-position: center;
  overflow: hidden;


}

.grid-container div::after {
  content: '';
  position: absolute;
  width: 101%;
  height: 101%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.grid-container div:nth-child(1) {
  background-image: url('../img/modalImg/proj/beaded-2137080_1920.jpg');
}

.grid-container div:nth-child(1)::after {
  background-color: hsla(273, 100%, 50%, 0.67);
}

.grid-container div:nth-child(2) {
  background-image: url('../img/modalImg/home/laptop-2557586_1920.jpg')
}

.grid-container div:nth-child(2)::after {
  background-color: hsla(7, 97%, 49%, 0.79);
}

.grid-container div:nth-child(3) {
  background-image: url('../img/modalImg/price/computer-3368242_1920.jpg');
}

.grid-container div:nth-child(3)::after {
  background-color: hsla(248, 100%, 50%, 0.67);
}

.grid-container div:nth-child(4) {
  background-image: url('../img/modalImg/prog/binary-3044663_1920.jpg');
}

.grid-container div:nth-child(4)::after {
  background-color: hsla(127, 100%, 50%, 0.69);
}

.grid-container div:nth-child(5) {
  background-image: url('../img/SekcjeRealizacje/rain-3915684_1920.jpg');
}

.grid-container div:nth-child(5)::after {
  background-color: hsla(360, 81%, 0%, 0.67);
}



.grid-container div .GridA {
  position: absolute;
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: #fff;
  text-shadow: 2px 2px 5px black;
  font-size: xx-large;
  font-family: 'Audiowide', cursive;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
*/


/*MEDIA QUERES*/
@media screen and (max-width: 950px) {
  body {
    overflow-X: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    background-color: #101010c9;
    width: 90%;
    border: 2px dashed white;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .triger {
    display: block;
    cursor: pointer;
  }
  /*
  .grid-container {
    grid-template-areas: "TODO TODO TODO TODO TODO TODO TODO""HOME HOME HOME DODOREX DODOREX DODOREX DODOREX""HOME HOME HOME RANDOM RANDOM RANDOM RANDOM""HOME HOME HOME KARTYKAT KARTYKAT KARTYKAT KARTYKAT";
  }

  .grid-container div .GridA {
    overflow: hidden;
    font-size: small;

  }
  */


}

/*koniec media screen and (max-width: 950px)*/







@media only screen and (max-width: 476px) and (max-height: 780px) {
.main-section .fas, .main-section .fab{
font-size: 1.6em;
text-align: center;
}
.main-section .fas a, .main-section .fab a {
font-size: 0.8em;
}

.main-section .mainDiv{
      
      font-size: small;
      }
#contactSpan {
    position: fixed;
    bottom: 0;
    background-color: #403d3d;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#contactSpan .fas, #contactSpan .fab {
      margin: 0;
      font-size: xx-large;
      background-color: #403d3d96;
      padding: 0.2em 1.5em;
      border-radius: 0.19em;
      transition: 0.24s background-color ease-out;
      -webkit-border-radius: 0.19em;
      -moz-border-radius: 0.19em;
      -ms-border-radius: 0.19em;
      -o-border-radius: 0.19em;
      -webkit-transition: 0.24s background-color ease-out;
      -moz-transition: 0.24s background-color ease-out;
      -ms-transition: 0.24s background-color ease-out;
      -o-transition: 0.24s background-color ease-out;
}

#contactSpan .fas:hover, #contactSpan .fab:hover {
background-color:#000000;
}
#contact #arrowContact {
  /*display: unset;*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#arrowContact {

position: absolute;
top: 80%;
width: 100%;
display: grid;

animation: arrowlike 2s infinite ease;
-webkit-animation: arrowlike 2s infinite ease;
}
/*wklejane start*/
#home #arrowContact {
/*display: unset;*/
position: absolute;
top: 80%;
width: 100%;
animation: arrowlike 2s infinite ease;
/*display: flex;*/
/*grid-template-columns: 1fr;*/
justify-content: center;
align-items: center;
-webkit-animation: arrowlike 2s infinite ease;
}
#home #arrowContact a .far {

text-decoration: none;
color: black;
}	
/*wklejane koniec*/

#arrowContact .far {
      font-size: xx-large;
      /*padding: 0.2em 1.5em;*/
      text-align:center;
}
.modal_container {
width: 100%;
height: 100%;
overflow-y: scroll;
display: grid;
grid-template-columns: 1fr;
}
.leftImg {
display: none;
}
.leftImg * {
display: none;
}
.rightContent ul {
margin-right: unset;
margin: 0 8px;
}
.rightContent ul li {
font-size: small;
}
.rightContent ul span {
font-size: small;
}
.rightContent ul a {
font-size: small;
}
.rightContent {
margin: 10px 6px;
}
.modal .modal_container .rightContent h3{
  font-size: small;
  margin-top: 15px;
  }
}
/*koniec @media only screen and (max-width: 476px) and (max-height: 780px)*/    
@media only screen and (max-width: 376px) and (max-height: 668px) {
  .main-section .mainDiv {
    font-size: 1.6em;
  }
}

/*koniec @media only screen and (max-width: 376px) and (max-height: 668px)*/

/*zła praktyka animowanie top - użyj samego transform translate*/
@keyframes arrowlike {

0% {
  top: 80%;
  }
50%{
top: 85%;
  }
  100%{
    top:80%;
  }

        }
  /*animacja linków*/
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}/*koniec animacji linków*/

/*animacja reverse linków*/
/*
@keyframes navLinknotFade {
  from {
    opacity: 1;
    transform: translateX(0px);
  }

  to {
    opacity: 0;
    transform: translateX(50px);
  }
}
*/
/*koniec animacji reverse linków*/

/*klasa toggle nav*/
.nav-active{
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
}
/*animacja triger*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px,6px);
  background-color: red;
  -webkit-transform: rotate(-45deg) translate(-5px,6px);
  -moz-transform: rotate(-45deg) translate(-5px,6px);
  -ms-transform: rotate(-45deg) translate(-5px,6px);
  -o-transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
  opacity: 0;
  
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px,-6px);
  background-color: red;
  -webkit-transform: rotate(45deg) translate(-5px,-6px);
  -moz-transform: rotate(45deg) translate(-5px,-6px);
  -ms-transform: rotate(45deg) translate(-5px,-6px);
  -o-transform: rotate(45deg) translate(-5px,-6px);
}/*koniec animacja triger*/

/*start loader*/
.lds-roller {
  position: fixed;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
z-index: 999999999;

}
.lds-roller::before {
  content: '';
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  width: 100vw;
  height: 100vh;
  background-color: #403d3df5;
  background: linear-gradient(45deg,#403d3d,rgb(5, 88, 88) );
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*stop loader*/



